.container{
    padding-left: 5%;
    padding-right: 5%;
}

.color-gray{
    color: gray !important;
    font-weight: 300;
}

.color-black{
    color: #000000BB;
    font-weight: 800;
}
.name-news{
    text-decoration: underline;
    font-weight: 100;
    font-style: italic;
}

.tab1{
    padding-left: 75px;
}

.tab2{
    padding-left: 150px;
}

.tab3{
    padding-left: 225px;
}