.color-gray{
    color: gray !important;
    font-weight: 300;
}

.color-black{
    color: #000000BB;
    font-weight: 800;
}
.name-news{
    text-decoration: underline;
    font-weight: 100;
    font-style: italic;
}

.tab1{
    padding-left: 75px;
}

.tab2{
    padding-left: 150px;
}

.tab3{
    padding-left: 225px;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
}
@media only screen and (max-width: 575.98px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 575.98px) and (max-width:767.98px){
    .container{
        margin-left: auto;
        margin-right: auto;
        max-width: 540px;
    }
}

@media only screen and (min-width: 767.98px) and (max-width:991.98px){
    .container{
        margin-left: auto;
        margin-right: auto;
        max-width: 720px;
    }
}

@media only screen and (min-width: 991.98px) and (max-width:1199.98px){
    .container{
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
    }
}

@media only screen and (min-width: 1199.98px){
    .container{
        margin-left: auto;
        margin-right: auto;
        max-width: 1140px;
    }
}