main{
    overflow: hidden;
    .carousel{
        padding: 20px 0 50px 0;
        position: relative;
        width: 200vw;
        &>.active_2{
            transform: translateX(-60%);
        }
        &>div{
            // display: flex;
            // flex-direction: row;
            // justify-content: space-between;
            // transition: ease-in-out .5s;
            .product-carousel{
                width: calc(50% - 10%);
                box-sizing: border-box;
                margin: 0 2.5%;
                display: flex;
                flex-direction: column;
                background-color: $bg-carousel;
                img{
                    width: 100%;
                }
                .content-prod{
                    padding:5%;
                    .name-prod{
                        font-weight: 800;
                    }
                    .footer-prod{
                        font-size: 0.9rem;
                    }
                    .time-prod{
                        font-size: 0.9rem;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        i{
                            font-size: 0.6rem;
                        }
                    }
                }
            }
        }
        .change-prod{
            display: none;
            i{
                top: 50%;
                font-size: 2rem;
                position: absolute;
                transform: translateY(-50%);
            }
            .fa-chevron-right{
                left: 40%;
                transform: translateX(-100%);
            }
            .fa-chevron-left{
                left: 0%;
            }
        }
        .navigation-prod{
            ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 50%;
                li{
                    width: 20px;
                    height: 4px;
                    background-color:gray;
                    margin: 3px;
                    transform: translateX(-50%);
                    cursor: pointer;
                }
                .active{
                    background-color: $green;
                }
            }
        }
    }
}

@media only screen and (max-width: 991.98px) and (min-width:767.98px){
    main{
        .carousel{
            &>div{
                .product-carousel{
                    width: 35%;
                    margin: 0;
                }
            }
            .navigation-prod{
                ul{
                    margin-top: 20px;
                    width: 35%;
                    li{
                        margin: 5px;
                        transform: translateX(50%);
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width:767.98px) and (min-width:575.98px){
    main{
        .carousel{
            &>div{
                .product-carousel{
                    width: 40%;
                    margin: 0;
                }
            }
            .navigation-prod{
                ul{
                    width: 40%;
                    li{
                        margin: 5px;
                        transform: translateX(50%);
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:991.98px){
    main{
        .carousel{
            &>div{
                .product-carousel{
                    flex-direction: row;
                    img{
                        width: 50%;
                    }
                }
            }
            .navigation-prod{
                ul{
                    width: 45%;
                    li{
                        margin: 5px;
                        transform: translateX(25%);
                    }
                }
            }
            .change-prod{
                display: none;
                i{
                    cursor: pointer;
                }
            }
        }
    }
    @media only screen and (min-width:1199.98px){
        main{
            .carousel{
                &>div{
                    .product-carousel{
                        width: 35%;
                        margin: 0 2.5%;
                    }
                }
                .navigation-prod{
                    ul{
                        width: 40%;
                        li{
                            margin: 5px;
                            transform: translateX(50%);
                        }
                    }
                }
            }
        }
    }
}