main{
    overflow: hidden;
    .carousel{
        padding: 20px 0 50px 0;
        position: relative;
        &>.active_2{
            transform: translateX(-60%);
        }
        &>div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .product-carousel{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                background-color: $bg-carousel;
                width: 100%;
                img{
                    width: 90%;
                    padding: 0 5%;
                }
                .content-prod{
                    padding:5%;
                    .name-prod{
                        font-weight: 800;
                    }
                    .footer-prod{
                        font-size: 0.9rem;
                    }
                    .time-prod{
                        font-size: 0.9rem;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        i{
                            font-size: 0.6rem;
                        }
                    }
                }
            }
        }
        .slick-prev{
            display: none;
            position: absolute;
            top: 50%;
            left: 5px;
            z-index: 2;
            transform: translateY(-50%);
            font-size: 1.5rem;
            cursor: pointer;
            &:hover{
                color: #00000088;
            }
        }
        .slick-next{
            display: none;
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
            z-index: 2;
            font-size: 1.5rem;
            cursor: pointer;
            &:hover{
                color: #00000088;
            }
        }
    }
}
@media only screen and (min-width: 991.98px){
    main{
        .carousel{
            .owl-carousel{
                .product-carousel{
                    display: grid !important;
                    grid-template-columns: auto auto;
                    align-items: center;
                }
                .slick-prev, .slick-next{
                    display: block;
                }
            }
        }
    }
}